* {
  font-family: system-ui, sans-serif;
}


/* CHALLENGE 1 - Button Hover */
.btn {
  background-color: #fff;
  border: 2px solid #073B4C;
  color: #073B4C;
  padding: 20px 60px 20px 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.btn:hover {
  background-color: #118AB2;
  color: white;
}

.btn  {
  cursor:pointer;
}

/* CHALLENGE 2 - Oscillating Rectangles */

.bar-container{
  margin-left: 45%;
  margin-right: auto;
}

.bar-container div:nth-child(1){
  width: 200px;
  height: 60px;
  background-color: #444444;
  margin-bottom: 60px;
  animation-name: slider;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.bar-container div:nth-child(2){
  width: 200px;
  height: 60px;
  background-color: #444444;
  margin-bottom: 60px;
  animation-name: slider;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}



@keyframes slider {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 200px;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -200px;
  }
  100% {
    margin-left: 0px;
  }

}


/* CHALLENGE 3 - Circle Wave */



.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.circle-container div:nth-child(1){
  background-color: #EF476F;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  
}

.circle-container div:nth-child(2){
  background-color: #FFD166;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.circle-container div:nth-child(3){
  background-color: #06D6A0;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.circle-container div:nth-child(4){
  background-color: #118AB2;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.circle-container div:nth-child(5){
  background-color: #073B4C;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce{
0% {
  margin-bottom: 0px;
}
50% {
  margin-bottom: -100px;
}
100% {
  margin-bottom: 0px;
}
}
