* {
  font-family: system-ui, sans-serif;
}


/* CHALLENGE 1 - Button Hover */
.btn {
  background-color: #fff;
  border: 2px solid #073B4C;
  color: #073B4C;
  padding: 20px 60px 20px 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.btn:hover {
  background-color: #118AB2;
  color: white;
}

.btn  {
  cursor:pointer;
}

/* CHALLENGE 2 - Oscillating Rectangles */

#challenge2 > .bar {
  width: 200px;
  height: 60px;
  background-color: #444444;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  animation-name: slide;
  animation-duration: 3s;
}

#challenge2:nth-child(1){
  animation-direction: alternate;
}

@keyframes slide{
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}


/* CHALLENGE 3 - Circle Wave */
#challenge3 > .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}

.circle:nth-child(1){
  background-color: #EF476F;
}
